body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:889px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:889px;
}
#u1 {
  position:absolute;
  left:2px;
  top:436px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:60px;
  top:180px;
  width:820px;
  height:690px;
}
#u3 {
  position:absolute;
  left:2px;
  top:337px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:234px;
}
#u4 {
  position:absolute;
  left:100px;
  top:680px;
  width:758px;
  height:234px;
}
#u5 {
  position:absolute;
  left:2px;
  top:109px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:232px;
}
#u6 {
  position:absolute;
  left:98px;
  top:190px;
  width:758px;
  height:232px;
}
#u7 {
  position:absolute;
  left:2px;
  top:108px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:230px;
}
#u8 {
  position:absolute;
  left:100px;
  top:432px;
  width:758px;
  height:230px;
}
#u9 {
  position:absolute;
  left:2px;
  top:107px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:80px;
  top:370px;
  width:260px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#337AC0;
}
#u12 {
  position:absolute;
  left:100px;
  top:377px;
  width:230px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#337AC0;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u14 {
  position:absolute;
  left:91px;
  top:139px;
  width:135px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u16 {
  position:absolute;
  left:280px;
  top:160px;
  width:609px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:80px;
  top:188px;
  width:270px;
  height:242px;
}
#u19 {
  position:absolute;
  left:2px;
  top:113px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
}
#u2_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.a {
}
#u4.a {
}
#u4_img.a {
}
#u5.a {
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
}
#u8_img.a {
}
#u9.a {
}
#u10.a {
}
#u10_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11.a {
}
#u12.a {
}
#u12_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#337AC0;
}
#u13.a {
}
#u14.a {
}
#u14_img.a {
}
#u15.a {
}
#u16.a {
}
#u16_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u17.a {
}
#u18.a {
}
#u18_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u0_img.b {
}
#u1.b {
}
#u2.b {
}
#u2_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.b {
}
#u4.b {
}
#u4_img.b {
}
#u5.b {
}
#u6.b {
}
#u6_img.b {
}
#u7.b {
}
#u8.b {
}
#u8_img.b {
}
#u9.b {
}
#u10.b {
}
#u10_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11.b {
}
#u12.b {
}
#u12_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#337AC0;
}
#u13.b {
}
#u14.b {
}
#u14_img.b {
}
#u15.b {
}
#u16.b {
}
#u16_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u17.b {
}
#u18.b {
}
#u18_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.b {
}
